{% extends "layout.html" %}

{% block title %}When is Garbage{% endblock %}

{% block content %}
<div id="wrap" class="container">
    <div class="row">
        <div>
            <div class="navbar">
                <ul class="nav">
                    <li class="active"><a href='index'>Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr> 
     <div class="row-fluid">
        <div id="main-index" class="span8 offset2">
            <h2>Under Construction</h2>
        </div>
    </div>
    <div id="push"></div>
</div>
{% endblock %}
